.box {
    background-color: green;
    color: white;
    height: 100px;
    width: 100px;
    border: 1px solid red;
    margin:10px;
    padding: 10px;
}

.grand-parent {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.title {
    background-color: aquamarine;
    height: auto;
    width: auto;
    border: 2px solid red;
    text-align: center;
}